  <h1 class="fst-italic text-primary form-label d-grid gap-2 col-6 mx-auto align-middle">Stupid couching</h1>

  <div class="form-label d-grid gap-2 col-6 mx-auto">
    <h3><%= @question %></h3>
    <p><%= @answer %></p>
  </div>
  <button class="btn btn-outline-dark form-label d-grid gap-2 col-6 mx-auto" type="submit">
    <%= link_to "Back", ask_path %>
  </button>
