 <body>
  <div container class="m-3" >
    <div class="box">
      <h1 class="fst-italic text-primary d-grid gap-2 col-6 mx-auto">Stupid couching</h1>
      <label for="exampleFormControlInput1" class="form-label d-grid gap-2 col-6 mx-auto">What do you want to ask?</label>
        <form action="/answer" class="form-label d-grid gap-2 col-6 mx-auto" data-turbo="false">
          <input type="text" name="question">
          <input type="submit" value="Ask!">
        </form>
    </div>
  </div>
</body>
